
/* Colores */
:root{
    --color-rojo-osc:rgb(187,11,34);
    --color-rojo:rgb(224,5,11);
    --color-cafe:rgb(64,40,14);
    --color-beige:rgb(233,153,43);
    --color-beige-osc:rgb(168,111,37);
    --color-blanco:rgb(255,255,255);
}

/* Clases utilitarias */

.txt-c{
    text-align: center;
}

.flex-c{
    display: flex;
    justify-content: center;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
}

.flex-sa{
    display:flex;
    justify-content: space-around;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





/* Estilos responsivos */
@media (max-width: 500px) {}